# This is what a comment looks like, ignore it
# All these config lines are valid
host = test.org
server_id=4815162342
server_load_alarm=5.19837
user=dan
# comment can appear here as well
verbose =true
test_mode = off
debug_mode = on
log_file_path = /tmp/logfile2.log
send_notifications = no
fizgig = test
# The following lines are invalid and will throw warning
my new setting = abc123
strange#$characters=testing
this is just a line of text